# Auto detect text files and perform LF normalization
* text=auto
# ------------------------------------------
# Normalize text files
# ------------------------------------------
* text=auto

# ------------------------------------------
# Markdown Files
# ------------------------------------------
*.md text eol=lf

# ------------------------------------------
# Images
# ------------------------------------------
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.svg text

# ------------------------------------------
# PDF Files
# ------------------------------------------
*.pdf binary

# ------------------------------------------
# PowerPoint
# ------------------------------------------
*.pptx binary

# ------------------------------------------
# Excel
# ------------------------------------------
*.xlsx binary

# ------------------------------------------
# Word
# ------------------------------------------
*.docx binary